:root {
  --primery-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --active-font: #2196f3;
  --text-color-theme-dark: #ffffff;
  --main-text-color-theme-light: #757575;
  --secondary-text-color-theme-light: #212121;
  --link-ft-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: var(--primery-font-family);
  color: var(--main-text-color-theme-light);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*============ START HEADER =============*/
.logo-link {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo-color-blue {
  color: var(--active-font);
}

.logo-color-black {
  color: #000000;
}

/*.logo-color-white {
color: var(--text-color-theme-dark);
}*/

/*.logo-link :hover,
.logo-link :focus {
color: var(--active-font);
}*/

/*============ END HEADER ===============*/

/*============ START HERO ===============*/

.primery-box {
  background: #2f303a;
}

.primery-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-theme-dark);
}

.primery-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-color-theme-dark);
  background-color: var(--active-font);
  cursor: pointer;
}

.primery-btn:active {
  background-color: #188ce8;
}

/*============ END HERO =================*/

/*============ START COMPONENTS =========*/
.nav-list-link-act {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-light);
  cursor: pointer;
}

.st,
.pf {
  color: var(--active-font);
}

.nav-list-link-act:hover,
.nav-list-link-act:focus {
  color: var(--active-font);
}

.contact-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color-theme-light);
  cursor: pointer;
}

.contact-mail:focus,
.contact-mail:hover {
  color: var(--active-font);
}

.contact-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color-theme-light);
  cursor: pointer;
}

.contact-number:focus,
.contact-number:hover {
  color: var(--active-font);
}

.main-list-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color-theme-light);
}

.main-list-desc {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.crew {
  background: #f5f4fa;
}

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}

.crew-list-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}

.crew-list-item-prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.nav-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
  cursor: pointer;
  background: #F5F4FA;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active {
  background-color: var(--active-font);
  color: var(--text-color-theme-dark);
}

.project-list-item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color-theme-light);
}

.project-list-item-class {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color-theme-light);
}

/*============ END COMPONENTS ===========*/

/*============ START FOOTER =============*/

.ft {
  background: #2f303a;
}

.logo-link-ft {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--active-font);
}

.logo-color-white {
  color: #ffffff;
}

.contact-address-ft {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-theme-dark);
}

.contact-address-ft:hover,
.contact-address-ft:focus {
  color: var(--active-font);
}

.contact-mail-ft {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-ft-color);
}

.contact-mail-ft:hover,
.contact-mail-ft:focus {
  color: var(--active-font);
}

.contact-number-ft {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-ft-color);
}

.contact-number-ft:hover,
.contact-number-ft:focus {
  color: var(--active-font);
}

/*============ END FOOTER =============*/
